.siteBody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.slidePic {
    float: none;
    width: auto;
    height: auto;
    margin: auto;
    max-width: 98%;
}

#slideContainer {
    display: flex;
    width: 100%;
    overflow: auto;
    justify-items: auto;
}

.slide {
    display: none;
    flex-grow: 1;
}

.slideArrow {
    display: block;
    width: auto;
    padding-top: .25em;
    padding-bottom: auto;
}

#blockDia {
    height: auto;
    width: auto;
}