:root {
    font-size: 48px;
    box-sizing: border-box;
    --NavBackground: #333;
    --HoverColorP: #38414b;
    --HoverColorS: #22282f;
    --Textcolor: #f2f2f2;
    --BodyBackground: #283338;
    --HighlightColor: #f8ff00;
    --BoxBackground: #293440;
}

body {
    background-color: var(--BodyBackground);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    background-color: var(--NavBackground);
    display: block;
    width: 100%;
    height: 2em;
}

nav a {
    color: var(--Textcolor);
    text-align: center;
    margin: 0;
    text-decoration: none;
    font-size: 1.5em;
}

nav>ul>li:hover {
    background-color: var(--HoverColorP);
}

nav>ul>li>ul>li>a:hover {
    background-color: var(--HoverColorS);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

#DropDown {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: max-content;
    z-index: 1;
}

#Projects:hover ul#DropDown {
    display: block;
}

header>nav>ul>li {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

header>nav>ul>li>a {
    display: block;
    height: 100%;
    width: max-content;
    text-align: center;
    width: fit-content;
}

nav>ul>li>ul>li {
    background-color: var(--HoverColorP);
    position: relative;
    /*transition: all linear 0.1s;*/
}

nav>ul>li>ul>li>a {
    display: block;
    text-align: left;
    width: fill;
    font-size: 1.25em;
    line-height: 1.6em;
}

nav>ul>li>ul {
    position: absolute;
}

nav a.active {
    color: var(--HighlightColor);
}

.siteBody {
    margin-top: 2em;
    color: var(--Textcolor);
}

.homeBox {
    max-width: 1000px;
    min-width: 600px;
    display: block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--BoxBackground);
    text-align: center;
    /*align-content: center;*/
    margin: auto;
    margin-top: 5px;
    padding: 20px;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

input {
    font-size: 1em;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

img {
    float: left;
    height: 250px;
    width: 250px;
}

form {
    align-content: left;
    text-align: left;
    vertical-align: top;
}

#textareaLabel {
    vertical-align: top;
}

textarea {
    font-size: 1em;
}